body {
    margin: 0px;
}

td {
    width: min-content;
    text-align: center;
}

.critica {
    margin: 0px;
}

.campo {
    width: 250px;
}

a {
color: black;
text-decoration: none;
}

p {
    margin-bottom: 0px;
}

.botao {
    margin-top: 10px;
}

.label {
    cursor: pointer;
}

button {
    margin-top: 16px;
}
