<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="e.css" rel="stylesheet" type="text/css">
</head>

<body>

<center>
<h1>Flow</h1>
<h2> <span onclick="escolherLogin();" class="label escolhaLogin"> Login </span> |
<span onclick="escolherCadastro();" class="label escolhaCadastro">Cadastro</span> |
<span onclick="escolherGrupos();" class="label escolhaGrupos">Grupos</span></h2>



<form action="/tryLogin" method="POST" id="form">

<p>Email: <input type="text" name="login" class="campoLogin campo" onChange="checkName();"></p>
<p class="criticaLogin critica"></p>
<p>Senha: <input type="text" name="senha" class="campoSenha campo" onChange=""></p>
<p class="linhaNome">Nome: <input type="text" name="nome" class="campoNome campo"></p>
<p class="linhaSexo">Sexo: <input type="text" name="sexo" class="campoSexo campo"></p>

<p class="criticaSenha critica"></p>
<%- include("includes/flash") %>


<input type="text" id="csrf" name="_csrf" value="<%= csrfToken %>" hidden>
<input type="submit" class="botao" id="botaoSubmit" value="Fazer Login">
</form>
</center>

<script src="entradaAjax.js">
</script>
<script src="entradaBasico.js">
</script>

</body>
</html>