<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="e.css" rel="stylesheet" type="text/css">
</head>

<body>

<center>
<h1>Flow</h1>
<h2> <span onclick="escolherLogin();" class="label escolhaLogin"> Login </span> |
<span onclick="escolherCadastro();" class="label escolhaCadastro">Cadastro</span> |
<span onclick="escolherGrupos();" class="label escolhaGrupos">Grupos</span></h2>



<form action="/tryLogin" method="POST">

<p>Nome: <input type="text" name="nome" class="campoLogin campo" onChange="check()"></p>
<p class="criticaLogin critica"></p>
<p>Senha: <input type="text" name="senha" class="campoSenha campo"></p>
<p class="criticaSenha critica"></p>

<%- include("includes/flash") %>



<input type="text" id="csrf" name="_csrf" value="<%= csrfToken %>" hidden>
<input type="submit" class="botao" id="botaoSubmit" value="Fazer Login">
</form>
</center>

<script src="entradaAjax.js">
</script>

</body>
</html>