<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="e.css" rel="stylesheet" type="text/css">
</head>

<body>

<center>
<h1>Flow</h1>
<br>
<h2>Bem vindo ao grupo <%= grupo.nome %></h2>
<h2>De qual time voc&ecirc; &eacute;?</h2>
<h2>
<a href="/left">Esquerdo</a> | 
<a href="/right">Direito</a>
</h2>
<h2>
<a href="/logOut">Sair</a>
</h2>
</center>

</body>
</html>