<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="e.css" rel="stylesheet" type="text/css">
</head>

<body>

<center>
<h1>Flow</h1>
<h2>Olá <%= usuario.nome %></h2>
<h2>De qual time você é?</h2>

<a href="/flowLeft">Esquerdo</a>
<a href="/flowRight">Direito</a>
</center>

</body>
</html>