<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
<link href="e.css" rel="stylesheet" type="text/css">
</head>

<body>

<div style="margin: 0px; background: #999; width: 100%; height: 80px;">
<h2>Olá <%= usuario.nome %> | <a href="/logOut">Desconectar</a> </h2>
</div>

<center>

<h2>Produtos | Acesso Rápido | Estatísticas</h2>

</center>

</body>
</html>