<html>
<head>
<title>Home</title>
<link href="e.css" rel="stylesheet" type="text/css">
</head>

<body>

<center>
<h1>Flow</h1>
<h2>Grupo <%- grupo %></h2>
<h2>Time direito</h2>

</center>

<script src="entradaAjax.js">
</script>

</body>
</html>