<html>
<head>
<meta charset="utf-8" />
<title>Home</title>
<link href="e.css" rel="stylesheet" type="text/css">
<link href="grid.css" rel="stylesheet" type="text/css">
</head>

<body>

<div style="margin: 0px; background: #999; width: 100%; height: 80px;">
<h2>Olá <%= usuario.nome %> | <a href="/logOut">Desconectar</a> </h2>
</div>

<center>

<%- include("includes/flash") %>

<div class="pedidos">
<p class="pedido"></p>
</div>

<input type="text" id="csrf" name="_csrf" value="<%= csrfToken %>" hidden>

</center>

<script src="rightAjax.js">
</script>

</body>
</html>